
a.link { cursor: pointer; }
.nobr {white-space: nowrap}
.pre {white-space: pre}
.unimportant {color: gray; font-style: italic}
.strong {font-weight: bold}
.comment {white-space: pre-wrap}

.report {
    border: 1px dashed black;
    padding: 10px;
}

/* search icon */
input.search-query {
    padding-left:26px;
}
form.form-search {
    position: relative;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}

/* end search */

.red {color:#d14;}


/* report */
.incident {
    position:relative;  
    border-bottom: 1px dashed green;
}
.notify_log {
    border: 0px solid green;
/*    position:absolute;  
    float: right;
*/    width:50%;
    right:10px;
    bottom: 0px;
}

/* incidents */

.autorefresh {
    text-align:right;
    position:relative;  
    font-size:10px;
    top: 0px;
    right: 10px;
}

table.compact tbody tr td {
    padding: 1px;
} 

table.compact{
    width: auto;
}

/* Понтовые цвета */ 
.OK { background-color: #AAFF66; }
.WARNING { background-color: #FFFF99; }
.CRITICAL { background-color: #FF9999; }
.PENDING, .UNKNOWN { background-color: #FFCC99; border-color: #FFCC99 }
.DELETED { background-color: #CCFFFF }

.rounded {
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}


/* incident_info page */
.incident_info {
    float: right;
    margin: 10px;
    padding: 5px;
    border: 1px dashed #BEBEBE;
}

.current_problems {
    width: 70%;
    position: relative;
    padding-left: 10px;
    float: left;
}

.nav_incident {
    clear: both;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
}


table.compact td.plugin_output {
    word-break:break-all;
    padding-right: 20px;
}


/* popup tips  */

.tip-on-hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.tip, .tip-left {
   display: none;
   position: absolute;
   z-index: 9998;
   top: -10px;
   background: #EDEDED;
   text-align: left;
   color: #000;
   cursor: default;
   padding: 5px;
   width: auto;
   min-height: 50px;
   height: auto;
   background: #EDEDED;
   border-radius: 3px;
   box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
}

.tip-comment {
   min-width: 500px;
}

.tip {
   left: 100%;
   margin: 0 -15px 0 10px;
   border: 2px solid #BEBEBE;
}

.tip-left {
   right: 100%;
   margin: 0 15px 0 10px;
   border: 1px solid #BEBEBE;
}

.tip-left:before {
 border-width: 9px 0 9px 8px;
 border-color: transparent transparent transparent #BEBEBE;
 top: 13px;
 right: -9px;
}

.tip:before {
 border-width: 9px 8px 9px 0;
 border-color: transparent #BEBEBE transparent transparent;
 top: 13px;
 left: -9px;
}

.tip-left:after {
 border-width: 7px 0 7px 7px;
 border-color: transparent transparent transparent #ededed;
 top: 15px;
 right: -7px;
}

.tip:after {
 border-width: 7px 7px 7px 0;
 border-color: transparent #ededed transparent transparent;
 top: 15px;
 left: -7px;
}

.tip-left:before,
.tip-left:after {
 content:"";
 position:absolute;
 width: 0px;
 height: 0px;
 border-style: solid;
}

.tip:before,
.tip:after {
 content:"";
 position:absolute;
 width: 0px;
 height: 0px;
 border-style: solid;
}

.tip-on-hover:hover .tip-left,
.tip-on-hover:hover .tip {
  display:block;
}

abbr.tip-on-hover {
    border-bottom: 1px dotted;
    cursor: pointer;
}

.sms_notify {
    color: #006633;
}

.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    height: 260px;
    margin-left: -280px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    outline: medium none;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
}