/* CSS Document */
html { font: 13px Tahoma, Arial, Helvetica, sans-serif; }
body { padding: 0px; margin: 0px; }
img { border: 0px; }
#logo { width: 223px; text-align: left; padding: 10px; white-space: nowrap; }
#logo strong { display: block; margin-top: -10px; font-size: 18px; color: #40423d; margin-left: 5px; }
#logo a { text-decoration: none !important; }
#auth { float: right; padding: 20px; }
a { color: #505050; }
#auth strong { color: #0e9544; }
#navig { font-size: 18px; text-align: left; padding: 10px 20px; color: #7F7F7F; }
#navig a { color: #7F7F7F; }
#navig img { margin-left: 7px; margin-right: 7px; }
#main { padding: 0px 20px 20px; }
h1 { font-size: 18px; color: #0E9544; }
h2 { font-size: 16px; color: #0E9544; }
h3 { font-size: 14px; color: #0E9544; }
table.big { border-collapse: collapse; border-spacing: 1px; table-layout: auto; width: 100%; }
table.mini {width: 30%; }
table.listusers td, th {border: 0px; }
table.big td, th { border: 1px solid #41BBE4; padding: 3px; vertical-align: top; }
table.big th { background: lightblue; color: #000000; }
table.big tr.bad {background:#FFAAAA;}
table.big tr.delayed {background:#DDDDDD;}
#order_new { padding: 10px 0px; }
#order_new a { color: #BB1219 !important; font-size: 15px; font-weight: bold; }
.invertedshiftdown2 { padding: 0; width: 100%; border-top: 5px solid #40423d; background: transparent; voice-family: "\"}\""; voice-family: inherit; }
.invertedshiftdown2 ul { margin:0; margin-left: 20px; padding: 0; list-style: none; }
.invertedshiftdown2 li { display: inline; margin: 0 2px 0 0; padding: 0; }
.invertedshiftdown2 a { float: left; display: block; font: bold 14px Arial; color: black; text-decoration: none; margin: 0 1px 0 0; padding: 5px 10px 5px 10px; background-color: lightblue; border-bottom: 8px solid white; }
.invertedshiftdown2 a:hover { background-color: #40423d; padding-top: 10px; padding-bottom: 0; border-bottom-color: #40423d; color: white; }
.althoverclass a:hover { background-color: #40423d; color: white; padding-top: 5px; padding-bottom: 5px; border-bottom-color: white; }
.invertedshiftdown2 .current a { background-color: #40423d; padding-top: 10px; padding-bottom: 0; border-bottom-color: #40423d; color: white; }

#lean_overlay { position: fixed; z-index: 10000; top: 0px; left: 0px; height: 100%; width:100%; background: #000; display: none; }
.signup, #signup { text-align: center; width: 404px; padding-bottom: 20px; display:none; background: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7); }
.form_ table { margin: 10px; width: 380px; }
.form_ table td, .form_ table th { border: 0px !important; text-align: left; }
.form_ select, .form_ input { width: 200px; }
.close, #close { float: right; padding: 0px 5px; }

/* Собственные модификации  */
.centered {text-align: center;}
a.link {
    cursor: pointer;
    border-bottom: 1px dashed;
}

.plus_minus {
    cursor: pointer;
    font-size: 16px;
}

.gray { color: #505050; }

.hidden  {
    display: none;
}

.msg, #msg {
font-size: 16px;
   color: #cc0000;
}

.example {
font-size: 10px;
   color: #555555;
}


