{% include 'blocks/header.html' with title='Статистика по ответственным' %}
{% load humanize %}
{% load tags %}


<form method='GET'>
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
        webshims.setOptions('forms-ext', {types: 'date'});
        webshims.polyfill('forms forms-ext');
        webshims.activeLang('ru');
    </script>

    Статистика с
    <input type="date" value="{{interval.date_from}}"  name="date_from" data-date='{"startView": 2, "openOnMouseFocus": true}'>
    <input type="time" value="{{interval.time_from}}"  name="time_from" data-time='{"startView": 2, "openOnMouseFocus": true}'>
    по
    <input type="date" value="{{interval.date_to}}"  name="date_to" data-date='{"startView": 2, "openOnMouseFocus": true}'>
    <input type="time" value="{{interval.time_to}}"  name="time_to" data-time='{"startView": 2, "openOnMouseFocus": true}'>

    минимальное число уведомлений <input type="text" size=3 name="min_cnt" value={{min_cnt}}> 
    <input type='submit' value='Показать'>
</form>


<table class='table' id='stat'>
    <thead>
    <tr>
        <th rowspan=2>Ответственный</th>
        <th rowspan=2>Всего инцидентов</th>

        <th colspan=2 class='success'>Самоназначение</th>

        <th colspan=5>Саппорт</th>
        <th colspan=5>Астериск</th>

        <!-- Отзывчивость -->
        <th rowspan=2>Доступность, %</th>
        <th rowspan=2>Доступность <nobr>в дежурство</nobr>, %</th>
    </tr>
    <tr>
        <!-- Самоназначение -->
        <th class='success'>Всего</th>
        <th class='success'>Дежурство</th>

        <!-- Саппорт -->
        <th>Уведомлений</th>
        <th class='success'>ОК</th>
        <th class='warning'>не ОК</th>
        <th class='success'>ОК в дежурство</th>
        <th class='danger'>не ОК в дежурство</th>

        <!-- Астериск -->
        <th>Уведомлений</th>
        <th class='success'>ОК</th>
        <th class='warning'>не ОК</th>
        <th class='success'>ОК в дежурство</th>
        <th class='danger'>не ОК в дежурство</th>

    </tr>
    </thead>
    <tbody>
    {% for admin, data in stat.items %}
    <tr>
        <td>{{admin}}</td>
        <td>{% notify_url data 'total' 'all' admin interval %}</td>

        <td class='success'>{% notify_url data 'self' 'ok' admin interval %}</td>
        <td class='success'>{% notify_url data 'self' 'duty_ok' admin interval %}</td>

        <td class=''>{% notify_url data 'assign' 'all' admin interval %}</td>
        <td class='success'>{% notify_url data 'assign' 'ok' admin interval %}</td>
        <td class='warning'>{% notify_url data 'assign' 'not_ok' admin interval %}</td>
        <td class='success'>{% notify_url data 'assign' 'duty_ok' admin interval %}</td>
        <td class='danger'>{% notify_url data 'assign' 'duty_not_ok' admin interval %}</td>

        <td class=''>{% notify_url data 'asterisk' 'all' admin interval %}</td>
        <td class='success'>{% notify_url data 'asterisk' 'ok' admin interval %}</td>
        <td class='warning'>{% notify_url data 'asterisk' 'not_ok' admin interval %}</td>
        <td class='success'>{% notify_url data 'asterisk' 'duty_ok' admin interval %}</td>
        <td class='danger'>{% notify_url data 'asterisk' 'duty_not_ok' admin interval %}</td>

        <td>{% positive data.availability.all %}</td>
        <td>{% positive data.availability.duty %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'blocks/footer.html' %}
