{% include 'blocks/header.html' with title='Статистика по хостам' %}
{% load humanize %}
{% load tags %}

<script>
$(document).ready(function(){
    // show/hide button
    $(".btn-show-hide").click(function(){
        $(this.getAttribute('target-id')).collapse('toggle');
    });
    $(".first-table").tablesorter({
       sortInitialOrder: 'desc',
       sortList: [[2,1], [1,1]],
    });
    $(".table-hosts").tablesorter({
       sortInitialOrder: 'desc',
       sortList: [[2,1], [1,1]],
    });
});
</script>

По <a href='{% url 'statistics' 'projects' %}'>проектам</a>,
<a href='{% url 'statistics' 'hostgroups' %}'>хостгруппам</a>,
<a href='{% url 'statistics' 'hosts' %}'>хостам</a>
<form method='GET' xmlns="http://www.w3.org/1999/html">
    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
        webshims.setOptions('forms-ext', {types: 'date'});
        webshims.polyfill('forms forms-ext');
        webshims.activeLang('ru');
    </script>

    Статистика с
    <input type="date" value="{{interval.date_from}}"  name="date_from" data-date='{"startView": 2, "openOnMouseFocus": true}'>
    <input type="time" value="{{interval.time_from}}"  name="time_from" data-time='{"startView": 2, "openOnMouseFocus": true}'>
    по
    <input type="date" value="{{interval.date_to}}"  name="date_to" data-date='{"startView": 2, "openOnMouseFocus": true}'>
    <input type="time" value="{{interval.time_to}}"  name="time_to" data-time='{"startView": 2, "openOnMouseFocus": true}'>

<input type="submit" value="Показать">
<br/>
<input type="checkbox" name="incbydays" value="1" {% if incbydays %}checked{% endif %}>По дням</input>
<input type="checkbox" name="incbyservices" value="1" {% if incbyservices %}checked{% endif %}>По сервисам</input>
<input type="hidden" name="incbyhosts" value="0">
<input type="checkbox" name="incbyhosts" value="1" {% if incbyhosts %}checked{% endif %}>По хостам</input>
</form>
<p>Всего <b>{{ days }}</b> дней</p>
<div class="panel-group" id="accordion">
<table class="compact tablesorter first-table">
    <thead>
        <tr>
            {% if top_hosts %}
                {% setvar units = top_hosts %}
                <th>Хост</th>
            {% elif top_hostgroups %}
                {% setvar units = top_hostgroups %}
                <th>Хостгруппа</th>
            {% elif top_projects %}
                {% setvar units = top_projects %}
                <th>Проект</th>
            {% endif %}
            <th>Количество инцидентов</th>
            <th>Число проблемных дней</th>
            {% if allincidents %}
                <th>Все инциденты</th>
            {% endif %}
            {% if incbydays %}
                <td>Инциденты по дням</td>
            {% endif %}
            {% if incbyhosts and not top_hosts %}
                <td>Топ по хостам</td>
            {% endif %}
            {% if incbyservices %}
                <td>Инциденты по хостам/сервисам</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for p in units %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.incidents_count }}</td>
            <td>{{ p.problem_days_count }}</td>
            {% if allincidents %}
            <td>
                {% for i in p.incidents %}
                    <a href="{% url 'incident' i.id %}" data-toggle="tooltip" title="{{ i.ctime }}">{{ i.id }}</a>,
                {% endfor %}
            </td>
            {% endif %}
            {% if incbydays %}
            <td>
                <button type="button" class="btn btn-info btn-xs btn-show-hide" data-toggle="collapse" id="ButId{{ p.id }}" target-id="#RowIdDays{{ p.id }}">
                показать/скрыть
                </button>
                <div id="RowIdDays{{ p.id }}" class="collapse">
                {% for d in p.problem_days %}
                    {% if d.1 %}
                        {{ d.0|date:"d.m, D" }}:&#9;
                        {% for i in d.1 %}
                            <a href="{% url 'incident' i.id %}" data-toggle="tooltip" title="{{ i.ctime }}">{{ i.services_string }}</a>,
                        {% endfor %}
                        <br>
                    {% endif %}
                {% endfor %}
                </div>
            </td>
            {% endif %}
            {% if incbyhosts and not top_hosts %}
            <td>
                <button type="button" class="btn btn-info btn-xs btn-show-hide" data-toggle="collapse" id="ButId{{ p.id }}" target-id="#RowIdHosts{{ p.id }}">
                показать/скрыть
                </button>
                <div id="RowIdHosts{{ p.id }}" class="collapse">
                <table class="compact tablesorter table-hosts">
                    <thead>
                        <th>Хост</th>
                        <th>Количество инцидентов</th>
                        <th>Число проблемных дней</th>
                        <th>Инциденты</th>
                        <th>Ответственные</th>
                    </thead>
                    <tbody>
                        {% for h in p.byhosts %}
                            <tr>
                                <td><a href="{% url 'status_log' %}?host={{ h.name }}">{{ h.name }}</a></td>
                                <td>{{ h.incidents_count }}</td>
                                <td>{{ h.problem_days_count }}</td>
                                <td>
                                    {% for i in h.incidents %}
                                        <a href="{% url 'incident_status' i.id %}#bottom" class="{{ i.timeout_class }}" data-toggle="tooltip" title="{{ i.ctime }}">{{ i.services_string }}</a>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for name, count in h.admins|rsort %}
                                        {{ name }} ({{ count }}){% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </td>
            {% endif %}
            {% if incbyservices %}
            <td>
                {% if top_hosts %}
                <button type="button" class="btn btn-info btn-xs btn-show-hide" data-toggle="collapse" id="ButId{{ p.id }}" target-id="#RowIdServicesA{{ p.id }}">
                показать/скрыть
                </button>
                <div id="RowIdServicesA{{ p.id }}" class="collapse">
                <table class="compact tablesorter table-services-a">
                    <thead>
                        <th>Инцидент</th>
                        <th>Сервис</th>
                    </thead>
                    <tbody>
                        {% for i in p.incidents %}
                            <tr>
                                <td><a href="{% url 'incident' i.id %}" data-toggle="tooltip" title="{{ i.ctime }}">{{ i.id }}</a></td>
                                <td>
                                    {% for s in i.services_ %}
                                        <a href="{% url 'status_log' %}?host={{ p.name }}&service={{ s }}">
                                        {{ s }}
                                        </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% else %}
                <button type="button" class="btn btn-info btn-xs btn-show-hide" data-toggle="collapse" id="ButId{{ p.id }}" target-id="#RowIdServices{{ p.id }}">
                показать/скрыть
                </button>
                <div id="RowIdServices{{ p.id }}" class="collapse">
                <table class="compact tablesorter table-services">
                    <thead>
                        <th>Инцидент</th>
                        <th>Хост</th>
                        <th>Сервис</th>
                    </thead>
                    <tbody>
                        {% for i in p.incidents %}
                            <tr>
                                <td><a href="{% url 'incident' i.id %}" data-toggle="tooltip" title="{{ i.ctime }}">{{ i.id }}</a></td>
                                <td>
                                    {% for h in i.hosts_ %}
                                        <a href="{% url 'status_log' %}?host={{ h }}">{{ h }}</a>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for s in i.services_ %}
                                        <a href="{% url 'status_log' %}?host={{ h }}&service={{ s }}">
                                        {{ s }}
                                        </a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{{ debug }}
{% include 'blocks/footer.html' %}
