{% include 'blocks/header.html' with title='История изменения статусов' %}
{% load tags %}
<h1>История уведомлений {{request.GET.admin}} ({{request.GET.key}}.{{request.GET.subkey}})</h1>
<h3>{{request.GET.date_from}} - {{request.GET.date_to}}</h3>

<table class='table compact'>
    <tr>
        <th>Дата</th>
        <th>Инцидент</th>
        <th>Попытка уведомления</th>
        <th>Дежурный</th>
        <th>Ответил</th>
    </tr>
{% for l in stat %}
    <tr>
        <td class='nobr unimportant small'>{{ l.ctime | date:'Y-m-d H:i:s' }}</td>
        <td>
            {% if l.incident %}
                <a href='{% url 'incident' l.incident.id %}'>№{{ l.incident.id }}</a>
            {% else %}
                -
            {% endif %}
        </td>
        <td>{{ l.author }} -&gt; {{l.assigned_to}}</td>
        <td> {% if l.was_duty %}дежурный{% endif %}</td>
        <td>{{ l.answer }} {% if l.answer_text %}({{l.answer_text}}){% endif %}</td>
    </tr>
{% endfor %}
</table>

