{% load staticfiles %}

<a class='tip-on-hover'>
    <img src='{% static '/static/img/all_right.jpg' %}' height=120>
    <span class='tip tip-comment'>
Экспериментальный центр заботится о физическом и психологическом здоровье участников испытаний. По завершении программы вам предложат тортик и возможность выговориться перед дипломированным сочувственным слушателем.
</span>
</a>

<span>&nbsp;&nbsp;&nbsp;Всё ок!</span>
