<div class='autorefresh'>обновление через <span id='timer'></span> сек.</div>
<script language="JavaScript" type="text/javascript">
    // значение начальной секунды
    var second=60;
    function tiktak()
    {
     if(second<=9){second="0" + second;}
     if(document.getElementById){timer.innerHTML=second;}
     if(second==00){location.reload(); return false;}
     second--;
     setTimeout("tiktak()", 1000);
    }

    tiktak();
</script>

