{% load humanize %}
{% load i18n %}
{% load tags %}

{% if comments %}
    <ul>
    {% for c in comments %}
    <li class='{%if c.system %}unimportant{%endif%}'>[{{c.ctime}}] <b>{{c.author}}:</b>
        <span class='comment'>{{ c.text|link_highlight|safe }}</span>
    </li>
    {% endfor %}
    </ul>
{% else %}
    -- пока никто ничего не написал --
{% endif %}

<br/>
<form role="form" action='{% url 'incident_comments' incident.id %}' method=POST>
    {% csrf_token %}
    <label>Комментарий</label><br/>
    {% if request.GET.error %}<p class='red'>{% trans request.GET.error %}<br/>{{ request.GET.problems }}</p>{% endif %}
    <textarea id='comment' name='text' cols=70 rows=3 placeholder="Пожалуйста, расскажите, что произошло и как вы с этим справились"></textarea><br/>

    <button class='btn btn-success' name='action' value="comment">Добавить комментарий</button>
    {% if incident.etime %}
        <button class='btn btn-danger' name='action' value="reopen">Открыть тикет</button>
    {% else %}
        <button class='btn btn-danger' name='action' value="close">Закрыть тикет</button>
    {% endif %}
    {% if incident.unimportant %}
        <button class='btn btn-warning' name='action' value="important">Убрать флаг 'отложен'</button>
    {% else %}
        <button class='btn btn-info tip-on-hover' name='action' value="unimportant">Отложить инцидент
        <span class='tip'>
        ...Да, глупость и безразличие довольствуются малейшим предлогом, <br/>
        чтобы отбросить всякое беспокойство.<br/><br/> /Анри Барбюс/
        </span>
        </button>
    {% endif %}

</form>
