{% load humanize %}
{% load staticfiles %}
{% load tags %}
{% load i18n %}

{% if services %}
<table class='tablesorter compact'>
    <thead>
    <tr>
        <th>Хост</th>
        <th>Сервис</th>
        <th>last_hard_state</th>
        <th>Описание</th>
        <th>Последнее изменение</th>
        <th>Уведомления</th>
        {% if not incident %}
        <th>Инцидент</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for service in services %}
    <tr>
        <td>
            <a href='{% url 'hostinfo' service.host.host_name %}'><img src='{% static 'img/billing.png' %}'></a>
            <a href='{% url 'status_log' %}?host={{service.host.host_name}}'>{{service.host.host_name}}</a>
        </td>
        <td>
           {% if user|has_group:'admin' %}
            <a href='{% url 'serviceinfo' service.host.hostgroup service.service_description %}'><img src='{% static 'img/wiki.png' %}'></a>
            {% endif %}
            <a href='{% url 'status_log' %}?host={{service.host.host_name}}&service={{service.service_description}}'>{{service.service_description}}</a>
        </td>
        <td>
            <div class='{{service.last_hard_state}} rounded tip-on-hover'>
            {{ service.last_hard_state }}
            <br/>

            {% if service.current_state == service.last_hard_state %}
                <span class='tip pre'>{% trans service.last_hard_state %}</span>
            {% else %}
                <span class='tip'>Сервис меняет состояние с {{service.last_hard_state}} на {{service.current_state}} (выполнено {{service.current_attempt}} из {{service.max_attempts}} проверок, необходимых для смены статуса)</span>
                ({{service.current_attempt}}/{{service.max_attempts}} {{service.current_state}})
            {% endif %}
            </div>
        </td>
        <td class="plugin_output">
            {{service.plugin_output|link_highlight|safe}}
        </td>
        <td>
        <span class='hidden'>{% timedelta service.mtime False True %}</span>
        <abbr class='tip-on-hover'>
            {{service.mtime|time_ago:False}}
            <span class="tip nobr">
                Синхронизировалось {{service.atime|time_ago}}<br/>
                Последняя проверка {{service.last_check|time_ago}}<br/>
                Запланирована проверка {{service.next_check|time_ago}}<br/>
            </span>
        </abbr>
        </td>
        <td>
            {% if service.is_flapping %} <strong>flapping</strong><br/>{%endif%}
            {% if service.scheduled_downtime_depth %}
                <strong>Плановый даунтайм</strong>
            {% elif service.host.scheduled_downtime_depth %}
                <strong>Плановый даунтайм хоста</strong>
            {% elif service.notifications_enabled %}
                {% trans service.notification_period %}
            {% else %}
                <span class='unimportant'>Не уведомлять</span>
            {% endif %}
        </td>
        {% if not incident and service.statuslogs.last.incident %}
        <td class='nobr'><a href='{% url 'incident' service.statuslogs.last.incident.id %}'>№{{service.statuslogs.last.incident.id}}</a>
        {% if service.statuslogs.last.incident.assigned_to %}({{ service.statuslogs.last.incident.assigned_to }}){% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    {% include 'blocks/all_right.html' %}
{% endif %}
