{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мониторинг: {{title}}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}?v=2">

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
    <link href="{% static 'css/tablesorter.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.widgets.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="{% static 'bootstrap/js/moment.min.js' %}"></script>--> 
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.ru.js' %}"></script>

{% if not request.GET.simple %}
    {% include 'blocks/nav_main.html' %}
{% endif %}
<div class='container'>
