{% load tags %}
{% if post %}
    <p>{% autoescape off %}{{ result }}{% endautoescape %}</p>
{% else %}

<form method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="form-group">
        <label for="dc-queue">Очередь</label>
        <select class="form-control" id="dc-queue" name="dc-queue">
            <option value="AGAVA-Col-DC-5">AGAVA-Col-DC-5</option>
            <option value="AGAVA-Col-DC-6">AGAVA-Col-DC-6</option>
            <option value="AGAVA-Col-Sup">AGAVA-Col-Sup</option>
            <option value="AGAVA-Col">AGAVA-Col</option>
        </select>
        <label for="subj">Тема</label>
        <input type="text" class="form-control" id="subj" name="subj" placeholder="Тема" value="{% for h in hosts %}{{ h }}, {% endfor %}">
        <label for="body">Текст</label>
        <textarea class="form-control" id="body" name="body" style="height: 300px">{{ full_path }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endif %}
