{% load tags %}
<table class='table'>
    <tr>
        <th>Дата</th>
        <th>Хост</th>
        <th>Сервис</th>
        <th>Описание</th>
    </tr>
{% for l in log %}
    <tr>
        <td class='nobr unimportant small'>{{ l.ctime | date:'Y-m-d H:i:s' }}</td>
        <td>{{ l.host.host_name }}</td>
        <td>
            <span class="rounded {{ l.text | replace:'/.* -> (.*) \(.*\):.*/\1' }}">
            {{ l.service.service_description }}
            </span>
        </td>
        <td>
            <span class='unimportant small nobr'>{{ l.text | replace:'/^(.* \([a-z_]+\))?: (.*)/\1/' }}<br/></span>
            <span style="word-break:break-all">{{ l.text | replace:'/^(.* \([a-z_]+\)): (.*)/\2/' }}</span>
        </td>

    </tr>
{% endfor %}
</table>

