{% load i18n %}
{% load tags %}

{% if schedule_error %} <p class='red'>Ошибка получения списка дежурных: {{schedule_error}}</p> {% endif %}
<h4>Проект: {{ schedule.project }}</h4>
{% if user.is_superuser %}
    Сервис: {{ schedule.service }}<br/>
    Запрос: {{ schedule.request }}<br/>
{% endif %}

{%if not whois %}Сменить ответственного на:{%endif%}
<table class='table compact'>
{% for user in schedule.duties %}
    <tr><td>
        {% if user.priority %}<span class='unimportant'>{{user.priority}}.</span>{% endif %}
        {%if not whois %}<a class='link' onclick="$('#user{{user.name}}').toggle()">{% endif %}
        {% if not user.name and not whois %}
            <br/>
            кто-то ещё?
        {% elif user.duty_priority %}
            <font class='text-success'><b>{{user.name}}</b> (дежурный)</font>
        {% elif user.priority < 9 %}
            <font class='text-info'>{{user.name}}</font>
        {% else %}
            <font class='text-danger'>{{user.name}}</font>
        {% endif %}
        </a>
    </td><td>
        {% if whois %}
            {{user.comment}}
        {% else %}
        {% if user.try_count %}
            {% declen user.try_count 'попытка' %}{% if user.try_ok %}, {{user.try_ok}} успешно{% endif %}
        {% endif %}
        {% endif %}
    </td><td>
    <div style='display:none' id='user{{user.name}}'>
    <form class='form' method='POST'>
        {% csrf_token %}
        {% if user.name %}
            <input type='hidden' name='user' value='{{user.name}}'>
            Телефон для связи: {{user.comment}}<br/>
        {% else %}
            <input type='text' name='user' value='' placeholder='Имя ответственного'>
        {% endif %}
        {% if user.duty_priority %}
            <input type='hidden' name='duty' value='1'>
        {% endif %}

        <input type="text" name="answer_text" placeholder="Что ответил?*" size=50>
        <br/>
        {% for a, color in answers.items %}
            <button class='btn btn-{{color}}' name='answer' value="{{a}}">{% trans a %}</button>
        {% endfor %}
        <br/>

        <small>*Для всех нешаблонных ситуаций текстовый комментарий обязателен</small>

    <br/><br/>
    </form>
    </td></tr>
{% endfor %}
</table>

<p>{{schedule.supportFAQ | safe }}</p>
