{% load tags %}
{% load staticfiles %}
<p>Инцидент с хостами:<br/>
{% for h in incident.hosts %}
<abbr class='tip-on-hover'><b>{{ h.host_name }}</b>
    <span class="tip-left nobr">
    Хостгруппа: {{ h.hostgroup }}<br/>
    Нагиос: {{ h.nagios.fqdn }}<br/>
    </span>
</abbr> 

<!--<a href='{% url 'downtime' %}?host={{h.id}}' class='tip-on-hover'><img src='{% static 'img/sleep.png' %}'>
    <span class="tip">Добавить плановый даунтайм</span>
</a>-->

</br>
{% endfor %}
</p>
Создан: {{incident.ctime}}<br/>
Обновлялся: {{incident.mtime}}<br/>
Закрыт: {{incident.etime}}<br/>

Ответственный: <a href='{% url 'incident_assign' incident.id %}#bottom'>{%if incident.assigned_to%}
    {{incident.assigned_to}}
{%else%}
    Нет ответственного
{%endif%}</a>
{% if not incident.assigned_to and user|has_group:"admin" %}
    <a href='{% url 'incident_assign' incident.id %}?user={{user.username}}&answer=ok' class='tip-on-hover'>
        <img src='{% static 'img/assign_to_me.jpg' %}' height=26>
        <span class='tip-left nobr'>Возьми меня<br/>полностью</span>
    </a>
{% endif %}
{% if incident.assigned_to == user.username %}
    <a href='{% url 'incident_assign' incident.id %}?user=nobody&answer=cant_help' class='tip-on-hover'>
        <img src='{% static 'img/del_assignment.jpg' %}' height=28>
        <span class='tip-left nobr'>
        Снять с себя ответственность?<br/>
        <img src='{% static 'img/del_assignment_warning.jpg' %}' height='160'><br/>
        </span>
    </a>
{% endif %}
<br/>
{% if incident.autoclose %}
<a href='{% url 'incident_comments' incident.id %}?action=noautoclose' class='tip-on-hover'>
    <span class="small glyphicon glyphicon-play"></span> 
    Автозакрытие вкл.
    <span class='tip-left nobr'>При исчезновении проблем<br/>инцидент закроется автоматически.</span>
</a>
{% else %}
<a href='{% url 'incident_comments' incident.id %}?action=autoclose' class='tip-on-hover'>
    <span class="small glyphicon glyphicon-pause"></span> 
    Автозакрытие выкл.
    <span class='tip-left nobr'>Инцидент будет ожидать ручного закрытия<br/>даже при отсутствии проблем.</span>
</a>
{% endif %}
{% if user.is_superuser %}
    {% if incident.hidden %}
    <a href='{% url 'hide' %}?id={{incident.id}}&action=unhide' class='tip-on-hover'>
        <img src='{% static 'img/hidden.png' %}'>
        <span class="tip">Инцидент скрыт</span>
    </a>
    {% else %}
    <a href='{% url 'hide' %}?id={{incident.id}}&action=hide' class='tip-on-hover'>
        <img src='{% static 'img/not_hidden.png' %}'>
        <span class="tip">Инцидент не скрыт</span>
    </a>
    {% endif %}
    <a href="#" id="delete-incident-button" data-id="{{ incident.id }}" class='tip-on-hover'>
        <img src='{% static 'img/delete.png' %}'>
        <span class="tip">Удалить инцидент</span>
    </a>
{% endif %}

