{% load staticfiles %}
{% load tags %}
<nav class="navbar {% if_worktime 'navbar-default' 'navbar-inverse' %}">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/">
        <span class='tip-on-hover'><img src='{% static 'img/favicon.png' %}' style='margin-top: -13px'>
            <span class='tip'>{% if_worktime 'Поздравляю, Вы восхитительны!' 'Агава, все ночи полные огня!' %}</span>
        </span>
        <span style='font-size:30px; font-weight:bold;'>AGA<font color="green">V</font>A</span>
    </a>
    </div>

    {% url 'status_log' as status_log %}
    {% url 'current_problems' as current_problems %}
    {% url 'incidents' as incidents %}
    {% url 'report' as report %}
    {% url 'sla' as sla %}
    {% url 'api_descr' as api %}
    <div class="navbar-collapse collapse" id='main_nav'>
    <ul class="nav navbar-nav">
        <li class="{% active request incidents  %}" ><a href='{{ incidents }}'>Открытые инциденты</a></li>
        <li class="{% active request current_problems %}"><a href='{{ current_problems }}'>Проблемы в Nagios</a></li>
        <li class="{% active request status_log  %}" ><a href='{{ status_log }}'>История</a></li>
        <li class="{% active request report  %}" ><a href='{{ report }}?assigned=on&comments=on'>Отчёт по инцидентам</a></li>
        <li class="{% active request sla %}" ><a href='{{ sla }}'>Отчёт по SLA</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Привет, 
        <strong>{{ user.username }}</strong>!
        <span class='small'>{% if user.is_superuser %}
        (хозяин)
        {% elif user|has_group:'admin' %}
        (админ)
        {% else %}
        (сотрудник)
        {% endif %}</span>
         <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href='https://wiki.vh.domain/index.php/%D0%9C%D0%BE%D0%BD%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D0%BD%D0%B3'>Регламент</a></li>
            <li><a href='{% url 'whois' %}'>Кому звонить?</a></li>
            <li><a href='{% url 'nagios_filter' %}'>Настройки фильтрации</a></li>
            <li class="divider"></li>
{% if user.is_staff %}<li><a href='{% url 'stat_admin' %}'>Статистика по админам</a></li> {% endif %}
{% if user|has_group:'admin' %} <li><a href='{% url 'statistics' 'projects' %}'>Статистика по хостам</a></li> {% endif %}
{% if user|has_group:'admin' %} <li><a href='{{ api }}'>Полезные рюшечки</a></li> {% endif %}
{% if user|has_group:'admin' %} <li><a href="{%  url 'motd' %}">MOTD</a></li> {% endif %}
{% if user|has_group:'admin' %} <li><a href="{%  url 'separate_incidents' %}">Поиск сервисов</a></li> {% endif %}
{% if user.is_staff %}<li><a href='{% url 'admin:index' %}'>Админка</a></li> {% endif %}
            <li><a href='{% url 'login' %}'>Выйти</a></li>
          </ul>
        </li>
      </ul>
    </div>


</nav>
