{% load tags %}
    {% url 'incident_comments' incident.id as incident_comments %}
    {% url 'incident_status' incident.id as incident_status %}
    {% url 'incident_assign' incident.id as incident_assign %}
    {% url 'incident_dc_ticket' incident.id as incident_dc_ticket %}

    <ul class="nav nav-tabs nav-pills" role="tablist">
        <li class="lead {% active request incident_comments  %}" ><a href='{{ incident_comments }}#bottom'>Комментарии</a></li>
        <li class="lead {% active request incident_status %}"><a href='{{ incident_status }}#bottom'>История статусов</a></li>
        <li class="lead {% active request incident_assign %}" ><a href='{{ incident_assign }}#bottom'>Смена ответственного</a></li>
        <li class="lead {% active request incident_dc_ticket %}" ><a href='{{ incident_dc_ticket }}#bottom'>Создать тикет</a></li>
    </ul>
