<div class="pagination">
    <span class="step-links">
        {% if log.has_previous %}
            <a href="?{{queries.urlencode}}&page={{ log.previous_page_number }}">&lt;&lt; Назад</a>
        {% endif %}

        <span class="current"> Страница {{ log.number }} из {{ log.paginator.num_pages }}  </span>

        {% if log.has_next %}
            <a href="?{{queries.urlencode}}&page={{ log.next_page_number }}">Далее &gt;&gt;</a>
        {% endif %}
    </span>
</div>

