{% include 'blocks/header.html' with title='Описание API' %}
<h1>Внешний адрес</h1>

Пользователи, у которых включена двухфакторная авторизация, могут заходить в мониторинг через внешний IP:
<a href='https://89.108.77.77/'>https://89.108.77.77/</a>

<h1>Упрощенный интерфейс</h1>

Страницы <a href='{% url 'incidents' %}?simple=true'>инцидентов</a> и <a href='{% url 'current_problems' %}?simple=true'>текущих проблем</a> можно отображать в упрощенном виде (без шапки и javascript'а), задав get-параметр simple.

<h1>Комманды Telegram</h1>
В чатах и личных сообщениях в Telegram можно отвечать на сообщения об инциденте
для выполнения различных действий с ним. <br>
Для этого необходимо выбрать сообщение об инциденте и ответить на это сообщение
(Обычно кнопка "Reply" или "Ответить", зависит от клиента).<br>
Сообщения в чат, не являющиеся ответом на сообщение об инциденте игнорируются.<br>
Для каждого действия предусмотренно несколько вариантов написания команды,
дабы не переключать раскладку клавиатуры и просто так, для разнообразия.<br>
Любой текст, отправленный в ответ на сообщение об инциденте и не являющийся командой
будет добавлен в мониторинг в качестве комментария к инциденту.
<table class='table'>
    <thead>
        <tr>
            <th>Команды</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ом, займусь, ок (в русской раскладке) или ok (в английской раскладке)</td>
            <td>Забрать инцидент</td>
        </tr>
        <tr>
            <td>назначить, assign</td>
            <td>Назначить ответственного. Через пробел необходимо указать никнейм назначаемого. Например: "assign softded" или "назначить vonabarak"</td>
        </tr>
        <tr>
            <td>отложить, неважно, delay, unimportant</td>
            <td>Отложить инцидент</td>
        </tr>
    </tbody>
</table>

<h1>JSON API</h1>
<p>Запросы посылаются обычным HTTP GET, ответ может возвращаться в JSON или XML.</p>

<strong>GET <a href='{% url 'api_incidents' %}'>{% url 'api_incidents' %}</a></strong> - получить список открытых инцидентов.

<table class='table'>
    <thead>
    <tr>
        <th>Параметр</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>show</td>
        <td>
            critical - Показать только инциденты без ответственного (по умолчанию)<br/>
            warning - Показать инциденты без ответственного или просроченные<br/>
            all - Показать все открытые инциденты
        </td>
    </tr>
    <tr>
        <td>hide_nagios</td>
        <td>
            Не показывать инциденты для выбранного нагиоса. Возможные значения:
            <ul>
            {% for n in nagios %}
            <li><b>{{n.fqdn}}</b> ({{n.description}})</li>
            {% endfor %}
            </ul>
            Параметр можно указывать несколько раз (?hide_nagios=aaa&amp;hide_nagios=bbb)
        </td>
    </tr>
    <tr>
        <td>format</td>
        <td>
            json - обычный JSON<br/>
            json-pretty - удобочитаемый JSON с отступами и переводами строк (по умолчанию)<br/>
            xml - сраный XML (не рекомендуется)
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<p><strong>GET <a href='{% url 'api_hostgroups' %}'>{% url 'api_hostgroups' %}</a></strong> - получить список существующих хостгрупп</p>
<p><strong>GET <a href='{% url 'api_notifylog' %}'>{% url 'api_notifylog' %}</a></strong> - Добавить запись в лог уведомлений.<br/>
Возвращает 'OK' в случае успеха или ошибку 404 в противном случае.<br/>
Для выполнения запроса требуется авторизация, поддерживается HTTP Basic. 
<table class='table'>
    <thead>
    <tr>
        <th>Параметр</th>
        <th>Значение</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>incident</td>
        <td>id инцидента. Обязательный параметр.</td>
    </tr>
    <tr>
        <td>assigned_to</td>
        <td>Никнейм уведомляемого. Обязательный параметр.</td>
    </tr>
    <tr>
        <td>author</td>
        <td>Никнейм уведомляющего. Обязательный параметр.</td>
    </tr>
    <tr>
        <td>answer</td>
        <td>Обязательный параметр. Тип ответа:<br/>
            'ok'<br/>
            'cant_help'<br/>
            'no_answer'<br/>
            'unreachable'<br/>
            'not_my_problem'<br/>
        </td>
    </tr>
    <tr>
        <td>answer_text</td>
        <td>Текст ответа - любой URL-закодированный текст</td>
    </tr>
    <tr>
        <td>duty</td>
        <td>Флаг ('0' или '1'), указывающий на дежурство уведомляемого. По умолчанию 1.</td>
    </tr>
    </tbody>
</table>
{% include 'blocks/footer.html' %}
