{% include 'blocks/header.html' with title='Создать инцидент' %}
{% load i18n %}

<h1>Создать инцидент</h1>
<p>Инциденты создаются автоматически при возникновении важных проблем в нагиосе.</p
<p>Но если вам известно о срочной проблеме, которая почему-то не отображается в мониторинге, можно создать инцидент вручную и уведомить о нем ответственных как обычно.</p>

<form method='POST' class="form-horizontal" role="form">
{% csrf_token %}

<select name='host'>
    <option value="" selected disabled>-- Выберите хост --</option>
    {% for h in hosts %}
    <option value='{{h.id}}'>{{h.host_name}}</option>
    {% endfor %}
</select>  <br/>

<textarea name='text' cols='50' rows='3' placeholder='Подробно опишите суть проблемы'>{{text}}</textarea><br/>

<input type='submit' value='Создать'>
{% if error %}<p class='red'>{% trans error %}</p>{% endif %}


</form>

{% include 'blocks/footer.html' %}
