{% include 'blocks/header.html' with title='Текущие проблемы в нагиосах' %}
{% load humanize %}
{% load tags %}
{% load i18n %}

{% if not request.GET.simple %}
<form method='GET'>
    Фильтрация по current_state:
    {% for state, display in states_display.items %}
    <input type='checkbox' name='{{state}}' {% if display %}checked{%endif%}>
    <span class="{{ state }} rounded tip-on-hover">{{state}}
        <span class='tip pre'>{% trans state %}</span>
    </span>

    {% endfor %}
    <input type='submit' value='Показать'><br/>
    <input type='checkbox' name='show_all' {%if show_all %}checked{% endif %}> Показывать сервисы, не требующие уведомлений
</form>
{% include 'blocks/autorefresh.html' %}
{% endif %}

{% include 'blocks/current_problems.html' %}

{% include 'blocks/footer.html' %}
