{% include 'blocks/header.html' with title='Запланировать даунтайм' %}
<h1>Добавление планового даунтайма</h1>

Плановый даунтайм - штатный функционал Nagios. Если включить его для сервиса, то в течение указанного периода по нему не будут создаваться инциденты, что бы ни происходило. Он нужен для временного исключения серверов из мониторинга (например, при отключении за неуплату).<br/><br/>

Его НЕ НУЖНО использовать:
<ol>
<li>Для машин/сервисов в продакшне. Если у нас существует проблема - по ней должен быть открытый инцидент. Для несрочных проблем используйте кнопку "отложить".</li>
<li>Для удаленных машин/сервисов. Если проверка больше неактуальна, назначьте ее на человека, который удалит ее из конфигурации нагиоса.</li>
</ol>

<hr/>

<form method='POST' action='{% url 'downtime' %}'>
<input type='hidden' name='action' value='downtime'>
{% csrf_token %}
<table class='compact'>
<tr>
    <td>Хост</td>
    <th><input type='hidden' name='host' value='{{host.id}}'>{{host.host_name}}</th>
</tr>
<tr>
    <td>Нагиос</td>
    <th>{{host.nagios.fqdn}}</th>
</tr>
<tr>
    <td>Сервис</td>
    <td>
        <select name='service'>
                <option disabled selected>-- Выберите сервис --</option>
            {% for s in host.services.all %}
                {% if s.service_description != 'ping' %}
                <option value='{{s.id}}'>{{s.service_description}}</option>
                {% endif %}
            {% endfor %}
                <option value='all'>Все сервисы</option>
        </select>
    </td>
</tr>
<tr>
    <td>Продолжительность даунтайма</td>
    <td>
        <select name='duration'>
                <option value='30' selected>30 секунд</option>
                <option value='3600'>1 час</option>
                <option value='86400'>1 сутки</option>
                <option value='604800'>1 неделя</option>
                <option value='1209600'>2 недели</option>

        </select>
    </td>
</tr>
</table>
<input type='submit' value='Отправить запрос'>
</form>

{% if result %}
    <pre>{{ result }}</pre>
{% endif %}
