{% include 'blocks/header.html' with title='Страница инцидента' %}
{% load tags %}


<div id="delete-incident-modal" class="modal fade">
    <div class="modal-header">
         <h3>Удаление инцидента</h3>
    </div>
    <div class="modal-body">
        <p>Вы собираетесь удалить инцидент, эта операция необратима.</p>
        <p>Вы уверены?</p>
    </div>
    <div class="modal-footer">
        <a href="/rm?id=" id="confirm-delete-incident" class="btn danger">Да, я уверен</a>
        <a href="#" data-dismiss="modal" class="btn secondary">Не совсем</a>
    </div>
</div>

<div class='incident_info'>
    {% include 'blocks/incident_info.html' %}
</div>

<div class='current_problems'>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class='{% if request.GET.state != 'any' %}active{% endif %}'>
            <a href='?state=critical'>текущие проблемы</a>
        </li>
        <li class='{% if request.GET.state == 'any' %}active{% endif %}'>
            <a href='{% url 'incident_comments' incident.id %}?state=any'>все статусы</a>
        </li>
    </ul>

    {% include 'blocks/current_problems.html' with services=incident.services %}
</div>

<div class='nav_incident'>
    {% include 'blocks/nav_incident.html' %}
</div>

<a name="bottom"></a>
{% if block == 'comments' %}
    {% include 'blocks/comments.html' %}

    <h3>Предыдущие инциденты ({{prevous_incidents|length}})</h3>
    <form>
    Показать <select name=limit>
        {% for l in LIMITS %}
            <option value='{{l}}' {% if l == limit %}selected{% endif %}>
                {% if l %}
                    последние {{l}}
                {% else %}
                    все
                {% endif %}
            </option>
        {% endfor %}
        </select>
    <input type='checkbox' name='show_unimportant' {% if show_unimportant %}checked{% endif %}> Служебные комменты
    <input type='checkbox' name='with_comments_only' {% if with_comments_only %}checked{% endif %}> Только с комментами
    <input type='submit' value='Go!'>
    </form>
    {% if prevous_incidents %}
    <table class='table'>
        <tr>
            <th>Дата</th>
            <th>Инцидент</th>
            <th>Сервисы</th>
            <th>Комментарий</th>
        </tr>
    {% for i in prevous_incidents %}
        <tr>
            <td>{{i.ctime}}</td>
            <td>
                <a href='{% url 'incident_status' i.id %}#bottom'>{{i.id}}</a>
                ({% timedelta i.ctime i.etime %})
            </td>
            <td>
                {% for s in i.services|slice:"2" %}
                    {{s.service_description}}{%if not forloop.last%},{%endif%}
                {%endfor%}
                {%if i.services|length > 2 %}
                    <b>+{{ i.services|length|add:-2 }}</b>
                {% endif %}
            </td>
            <td>
                {% for c in i.comments_filtered %}
                <b>{{c.author}}:</b> {{c.text|link_highlight|safe}}<br/>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    Ничего нет.
    {% endif %}

{% elif block == 'status' %}
    {% include 'blocks/incident_status.html' %}

{% elif block == 'assign' %}
    {% include 'blocks/incident_assign.html' %}

{% elif block == 'dc_ticket' %}
    {% include 'blocks/incident_dc_ticket.html' %}

{% endif %}

{% include 'blocks/footer.html' %}
