{% load humanize %}
{% load tags %}
{% load staticfiles %}

{% include 'blocks/header.html' with title='Открытые инциденты' %}

{% if not request.GET.simple %}
<form method='GET'>
Показывать
<select name='period'>
    <option value='0' {% if not period %}selected{%endif%}>открытые инциденты</option>
    <option value='12' {% if period == '12' %}selected{%endif%}>все инциденты за 12 часов</option>
    <option value='24' {% if period == '24' %}selected{%endif%}>все инциденты за 1 день</option>
    <option value='48' {% if period == '48' %}selected{%endif%}>все инциденты за 2 дня</option>
    <option value='168' {% if period == '168' %}selected{%endif%}>все инциденты за 7 дней</option>
</select>
<input type='submit' value='Go!'>
&nbsp;&nbsp;&nbsp;<a href='{% url 'create_incident' %}'>Создать инцидент</a>
</form>
{% endif %}
{% include 'blocks/autorefresh.html' %}

{% if new_problems %}
<audio src="{% static 'startrek-redalert.wav' %}" autoplay></audio>
<script>
    alert("Внимание! Новые инциденты: {% for i in new_problems %}{{i.id}} {%endfor%}");
</script>
{% endif %}

{% if incidents %}

{% if achtung %}
<div
    style="
    text-align: center;
    border: solid;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    border-color: #BB1219"
>

{% if user|has_group:"admin" %}
    <div style="font-size: small; font-style: oblique; padding: 2px; margin: 2px;">
        {% if achtung.assigned_to %}
            Проблемой занимается {{ achtung.assigned_to }}
        {% endif %}
        <a href='{% url 'incident_assign' achtung.id %}?user={{user.username}}&answer=ok' class='tip-on-hover'>
            <img src='{% static 'img/assign_to_me.jpg' %}' height=26>
            <span class='tip nobr'>Я всё починю!</span>
        </a>
    </div>
{% endif %}
    <h1><a href="{% url 'incident' achtung.id %}">АХТУНГ!</a></h1>
    <h3>Хлобальная проблема!</h3>
    <p>Уведомления и звонки по новым инцидентам не отправляются</p>
</div>
{% endif %}

{% if motds %}
<div>
    {% for m in motds %}
    <div>
        {% if m.subj %}<h3>{{ m.subj }}</h3>{% endif %}

        <div style="font-size: large; white-space: pre-wrap; border: solid; padding: 10px; padding-bottom: 0px; margin-bottom: 5px; border-color: #BB1219">{{ m.body }}<p style="font-size: small; font-style: oblique; text-align: right; padding: 0px; margin: 0px;">автор: {{ m.author }} &nbsp;&nbsp; изменено: {{ m.mtime }}</p></div>
    </div>
    {% endfor %}
</div>
{% endif %}
<form method=POST>
{% csrf_token %}
<table class='compact' id='incidents'>
    <thead>
    <tr>
        <th></th>
        <th>Дата создания</th>
        <th>Хосты</th>
        <th>Текущие проблемы</th>
        <th></th>
        <th>Ответственный</th>
        <th>Не обновлялся</th>
        {%if period %}
        <th>Закрыт</th>
        <th>Длительность</th>
        {%endif%}
    </tr>
    </thead>
    <tbody>
{% for i in incidents %}
    <tr {% if i.assigned_to == request.user.username %}class="odd"{% endif %}>
        <td><input type='checkbox' name='join' value='{{i.id}}'></td>
        <td class='nobr unimportant small'>{{ i.ctime | date:'Y-m-d H:i:s' }}</td>
        <td class=''>
        {% for h in i.hosts|slice:"2" %}
            {{h.host_name}}{%if not forloop.last%},{%endif%}
        {%endfor%}
        {%if i.hosts|length > 2 %}
            <b>+{% declen i.hosts|length|add:-2 'хост' %}</b>
        {% endif %}
        </td>
        <td class=''>
        <a href='{% url 'incident' i.id %}'>
        {% if not i.autoclose %}
            <span class="small glyphicon glyphicon-pause tip-on-hover">
                <span class='tip'>Автозакрытие выключено.</span>
            </span>
        {% elif not i.services|length and not i.etime %}
            <span class="small glyphicon glyphicon-play tip-on-hover">
                закрывается...
                <span class='tip tip-comment'>Все проблемные сервисы починились, инцидент будет закрыт в ближайшие секунды</span>
            </span>
        {% endif %}
        {% for s in i.services|slice:"2" %}
            {{s.service_description}}{%if not forloop.last%},{%endif%}
        {%endfor%}
        {%if i.services|length > 2 %}
            <b>+{% declen i.services|length|add:-2 'сервис' %}</b>
        {% endif %}
        </a>
        </td>
        <td class=''>
        {% if i.comments.count %}
            <a href='{% url 'incident_comments' i.id %}#bottom' class='tip-on-hover'>
            {{i.comments.count}} <span class="glyphicon glyphicon-comment"></span> 
            <span class='tip tip-comment'>
                {% for c in i.comments.all %}
                <span class='{% if c.system %}unimportant{% endif %}'>[{{ c.ctime | date:'Y-m-d H:i:s' }}] {{c.author}}: {{c.text}}</span><br/>
                {% endfor %}
            </span>
            </a>
        {% endif %}
        </td>
        <td>
            {% if i.state == 'CRITICAL' %}
             <span class='hidden'>0</span>
            {% elif i.state == 'WARNING' %}
             <span class='hidden'>1</span>
            {% else %}
             <span class='hidden'>2</span>
            {% endif %}
            <div class='rounded {% if not i.hidden %}{{ i.state }}{%else%}UNKNOWN{% endif %}'>
            <span class='hidden'>{% timedelta i.mtime False True %}</span>

            {% if i.assigned_to and i.state == 'OK' %}
                <b>{{ i.assigned_to }}</b>
            {% elif i.assigned_to %}
                <a href='{% url 'incident_assign' i.id %}#bottom' class='tip-on-hover'>
                    <b>{{ i.assigned_to }}</b>
                    <span class="glyphicon glyphicon-bell red"></span> 
                    <span class='tip'>
                    <img src='{% static 'img/sleep.png' %}' height=30>
                        Необходимо повторное уведомление?
                    </span>
                </a>
            {% else %}
                <a href='{% url 'incident_assign' i.id %}#bottom'>
                    <b>Назначить</b>
                </a>
            {% endif %}
            {% if i.unimportant %}
                (отложен)
            {% endif %}
            {% if i.hidden %}
                (скрытый)
            {% endif %}
            </div>
            {% if not i.assigned_to and user|has_group:"admin" %}
                <a href='{% url 'incident_assign' i.id %}?user={{user.username}}&answer=ok' class='tip-on-hover'>
                    <img src='{% static 'img/assign_to_me.jpg' %}' height=26>
                    <span class='tip nobr'>Ом-ном-ном!<br/>(взять тикет)</span>
                </a>
            {% endif %}
        </td>
        <td class='nobr'>
            <span class='hidden'>{% timedelta i.mtime False True %}</span>
            {{ i.mtime|time_ago:False }}
        </td>
        {% if i.etime %}
        <td class='nobr'>
            <span class='hidden'>{% timedelta i.etime False True %}</span>
            {{ i.etime|time_ago }}
        </td>
        <td class='nobr'>
            {% timedelta i.ctime i.etime %}
        </td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>
{% if not request.GET.simple %}
<input type=submit value='Склеить выбранные'>
{% endif %}
</form>
{% else %}

<a class='tip-on-hover'>
    <img src='{% static '/static/img/all_right.jpg' %}'>
    <span class='tip tip-comment'>Woo-hoo!</span>
</a>


{% endif %}

{% if not request.GET.simple %}
    {% if count_hidden %}
    <br/>
        А также <a href='{% url 'incidents'%}?hidden=true'>{% declen count_hidden 'скрытый инцидент' %}</a>.
    <br/>
    {% endif %}

    <br/>
    {% if hide_nagios %}
        <div class='small unimportant'><a href='{% url 'nagios_filter' %}'>Скрыта</a> информация о проблемах из
        <ul>
        {% for n in hide_nagios %}
            <li>{{ n }}</li>
        {% endfor %}
        </ul>
        </div>
    {% else %}
        <div class='small unimportant'><a href='{% url 'nagios_filter' %}'>Показана</a> информация из всех нагиосов
        </div>
    {% endif %}

    <br/><br/>
    Сейчас в сети:
    {% for u in online %}
        <span class='{%if u.user|has_group:'admin' %}strong{%endif%} {%if u.user|has_group:'sms_notify' %}sms_notify{%endif%}'>{{u.user.username}}</span>{% if not forloop.last %},{%endif%}
    {% endfor %}
    <br/>
{% endif %}
{% include 'blocks/dc_duties.html' %}
{% include 'blocks/footer.html' %}
