{% load staticfiles %}
{% load i18n %}
<html>
<head>
    <title>Авторизация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes"/> 
</head>
<body>
<center>
    <img src='{% static "img/agava.gif" %}'>

    {% if error %}<p><font color=red>{% trans error %}</font></p>{% endif %}
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Имя пользователя</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Имя">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Пароль</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Пароль">
            </div>
        </div>
        {% if two_factor %}
        <div class="control-group">
            <label class="control-label" for="code">Одноразовый код</label>
            <div class="controls">
                <input type="code" name="code" id="code" placeholder="123456">
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Войти</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>
