{% include 'blocks/header.html' with title='MOTD' %}
{% load tags %}
{% if post %}
    <p>{% autoescape off %}{{ result }}{% endautoescape %}</p>
{% else %}
    {% if error %}
    <div style="color: red"> {{ error }}</div>
    {% endif %}
{% endif %}

<form method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="form-group">
        {% if edit %}
        <input type="hidden" class="form-control" id="id" name="id" value="{{ motd.id }}" >
        {% endif %}
        <label for="active">Включен</label>
        <input type="checkbox" class="checkbox" id="active" name="active" {% if edit %}{% if motd.active %}checked="checked"{% endif %}{% endif %}/>
        <label for="subj">Тема</label>
        <input type="text" class="form-control" id="subj" name="subj" placeholder="Тема" value="{% if edit %}{{ motd.subj }}{% endif %}">
        <label for="body">Текст</label>
        <textarea class="form-control" id="body" name="body" style="height: 300px">{% if edit %}{{ motd.body }}{% endif %}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<br>
<br>
<div>
<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>Дата</td>
            <td>Автор</td>
            <td>Тема</td>
            <td>Текст</td>
            <td>Действия</td>
        </tr>
    </thead>
    <tbody>
    {% for m in motds %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.ctime }}</td>
            <td>{{ m.author }}</td>
            <td>{{ m.subj }}</td>
            <td>{{ m.body }}</td>
            <td>
                <a href="{% url 'motd' %}?id={{ m.id }}&action=switch_active">{% if m.active %}Выключить{% else %}Включить{% endif %}</a>
                <br>
                <a href="{% url 'motd' %}?id={{ m.id }}&action=delete">Удалить</a>
                <br>
                <a href="{% url 'motd' %}?id={{ m.id }}&action=edit">Редактировать</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>