{% include 'blocks/header.html' with title='Фильтр по нагиосам' %}
{% load humanize %}


<form method='POST'>
{% csrf_token %}

<h3>Какие нагиосы отображать?</h3>

<table class='table compact'>
    {% for n in nagios %}
    <tr class='{%if not n.enabled %}unimportant{% elif n.fqdn not in hide_nagios %}OK{% else %}WARNING{% endif %}'>
    <td>
        <input type='checkbox' name='{{n.fqdn}}' {% if n.fqdn not in hide_nagios %}checked{% endif %}>
    </td>
    <td>
        {{n.fqdn}}
    </td>
    <td>
        {{n.description}}
        {% if not n.enabled %} (выключен) {% endif %}
    </td>
    </tr>
    {% endfor %}
</table>

Popup-уведомление о новых инцидентах
<select name='popup_alert'>
    <option value='1' {% if popup_alert %}selected{%endif%}>Включено</option>
    <option value='0' {% if not popup_alert %}selected{%endif%}>Отключено</option>
</select><br/>

<input type='submit' value='Сохранить'>
</form>
