{% include 'blocks/header.html' with title='Открытые инциденты' %}
{% load humanize %}
{% load tags %}
{% load i18n %}

<form method='GET'>

    Инциденты с
    <input size="16" type="text" value="{{date_from_str}}" readonly name="date_from" class="datepicker">
    по
    <input size="16" type="text" value="{{date_to_str}}" readonly name="date_to" class="datepicker">
    
    длительностью не менее <input type="text" size=3 name="min_len" value={{min_len}}> минут <br>
    Показывать также инциденты:  <input type="checkbox" name="assigned" {% if assigned %} checked="checked" {% endif %}> с попытками назначения &nbsp;
    <input type="checkbox" name="comments" {% if comments %} checked="checked" {% endif %}> с комментариями
     
    <script type="text/javascript">
    $(".datepicker").datetimepicker({format: 'yyyy-mm-dd hh:ii', language: 'ru'});
    </script> 

<input type='submit' value='Показать'>
           
</form>
<br/><br/>
<div class='report'>
{% for i in incidents %}
    №<a href='{% url 'incident' i.id %}'>{{i.id}}</a> ({% timedelta i.ctime i.etime %}):<br/>
    {% if i.from_past %}
        <b>(С прошлой смены)</b><br/>
    {% endif %}
    {% for r in i.report %}
    &nbsp;&nbsp;&nbsp;
            {% ifchanged %}
                {{ r.ctime | date:'d.m.Y' }}
            {% endifchanged %}
        {{ r.ctime | date:'H:i' }}&nbsp;
        {{r.text|safe}}
        <br/>
    {% endfor %}
    <br/>
{% endfor %}
</div>
<br/>
