{% include 'blocks/header.html' with title='Поиск сервисов' %}
{% load tags %}
{% if post %}
    <p>{% autoescape off %}{{ result }}{% endautoescape %}</p>
{% else %}
    {% if error %}
    <div style="color: red"> {{ error }}</div>
    {% endif %}
{% endif %}
<p>По умолчанию при переходе сервиса в критическое состояние новый инцидент не создаётся, если уже существует незакрытый инцидент с этим же хостом.</p>
<p>Включение флага раздельных инцидентов для сервиса форсирует создание нового инцидента, даже если существует открытый инцидент с тем же хостом, но другими сервисами.</p>
<p>Включение флага срочности убирает задержку в 10 минут перед звонком робобабы, а также не отменяет звонки в случае ахтунга</p>


<form method="post" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="form-group form-inline">
        <p>
            <input type="checkbox" class="checkbox" id="sep_inc" name="sep_inc" {% if sep_inc %}checked="checked"{% endif %}/>
            <label for="sep_inc">Рздельное создание инцидентов</label>
        </p>
        <p>
            <input type="checkbox" class="checkbox" id="urgent" name="urgent" {% if urgent %}checked="checked"{% endif %}/>
            <label for="urgent">Срочность</label>
        </p>
        <p>
            <input type="text" class="form-control" id="host" name="host" placeholder="Имя хоста" value="{{ host_pattern }}">
            <label for="host">Хост</label>
        </p>
        <p>
            <input type="service" class="form-control" id="service" name="service" placeholder="Описание сервиса" value="{{ service_pattern }}">
            <label for="search">Сервис</label>
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Искать</button>
</form>

<br>
<br>
<div>
<form method="get">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Хост</th>
                <th>Сервис</th>
                <th>Раздельные инциденты</th>
                <th>Срочность</th>
            </tr>
        </thead>
        <tbody>
        {% for s in services %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.host.host_name }}</td>
                <td>{{ s.service_description }}</td>
                <td>
                    <label for="sep_inc_on_{{ s.id }}">Вкл</label>
                    <input type="radio" class="radio-inline" id="sep_inc_on_{{ s.id }}" name="sep_inc_{{ s.id }}" value="1" checked="checked">
                    <label for="sep_inc_off_{{ s.id }}">Выкл</label>
                    <input type="radio" class="radio-inline" id="sep_inc_off_{{ s.id }}" name="sep_inc_{{ s.id }}" value="0" {% if not s.separate_incidents %}checked{% endif %}>
                </td>
                <td>
                    <label for="urgent_on_{{ s.id }}">Вкл</label>
                    <input type="radio" class="radio-inline" id="urgent_on_{{ s.id }}" name="urgent_{{ s.id }}" value="1" checked="checked">
                    <label for="urgent_off_{{ s.id }}">Выкл</label>
                    <input type="radio" class="radio-inline" id="urgent_off_{{ s.id }}" name="urgent_{{ s.id }}" value="0" {% if not s.urgent %}checked{% endif %}>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>
