{% include 'blocks/header.html' with title='Отчёт по SLA' %}
{% load humanize %}
{% load tags %}


<form method='GET'>

    Инциденты с
    <input size="16" type="text" value="{{date_from}}" readonly name="date_from" class="datepicker">
    по
    <input size="16" type="text" value="{{date_to}}" readonly name="date_to" class="datepicker">
    
    <script type="text/javascript">
    $(".datepicker").datetimepicker({format: 'yyyy-mm-dd hh:ii', language: 'ru'});
    </script> 

<input type='submit' value='Показать'>
           
</form>

<table class='compact tablesorter'>
  <thead>
    <tr>
        <th>Время создания</th>
        <th>Инцидент</th>
        <th>Хосты</th>
        <th>нарушения SLA</th>
    </tr> 
  </thead>
  <tbody>
    {% for e in sla_events %}
    <tr>
        <td class='unimportant small'>{{e.i.ctime}}</td>
        <td><a href='{% url 'incident' e.i.id %}'>{{e.i.id}} ({% timedelta e.i.ctime e.i.etime %})</a></td>
        <td>
            {% for h in e.i.hosts %}
                {{h.host_name}} 
            {%endfor%}
        </td>
        <td>
            <ul>
            {% for p in e.problem %}
                <li>{{p}}</li>
            {% endfor %}
            <ul>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ debug }}
{% include 'blocks/footer.html' %}
