{% include 'blocks/header.html' with title='История изменения статусов' %}
{% load tags %}
<h1>История изменения статусов</h1>

<div style="padding:20px;">
    <form class="form-search form-inline">
        <input type="text" name='host' value='{{host}}' class="form-control search-query" placeholder="Имя хоста" /> 
        <input type="text" name='service' value='{{service}}' class="form-control search-query" placeholder="Сервис" /> 
        <input type="text" name='description' value='{{description}}' class="form-control search-query" placeholder="описание" /> 
        <button type="submit" class="btn btn-primary"> Искать</button><br/>
    <input type='checkbox' name='regex' {{regex}}> Использовать регулярные выражения (иначе производится поиск по подстроке)
    </form>
</div>

{% include 'blocks/pagination.html' %}
<table class='table compact'>
    <tr>
        <th>Дата</th>
        <th>Хост/Сервис</th>
        <th>Инцидент</th>
        <th>Описание</th>
    </tr>
{% for l in log %}
    <tr>
        <td class='nobr unimportant small'>{{ l.ctime | date:'Y-m-d H:i:s' }}</td>
        <td>
            <span class="rounded {{ l.text | replace:'/.* -> (.*) \(.*\):.*/\1' }}">

            <a href='?host={{l.host.host_name}}'>
            {{ l.host.host_name }}</a>
            &nbsp; / &nbsp;
            <a href='?host={{l.host.host_name}}&service={{ l.service.service_description }}'>
            {{ l.service.service_description }}</a>
            </span>
        </td>
        <td>
            {% if l.incident %}
                <a href='{% url 'incident' l.incident.id %}'>№{{ l.incident.id }}</a>
            {% else %}
                -
            {% endif %}
        </td>
        <td> 
            <span class='unimportant small nobr'>{{ l.text | replace:'/^(.* \([a-z_]+\))?: (.*)/\1/' }}<br/></span>
            <span style="word-break:break-all">{{ l.text | replace:'/^(.* \([a-z_]+\)): (.*)/\2/' }}</span>
        </td>
    </tr>
{% endfor %}
</table>
{% include 'blocks/pagination.html' %}

