{% include 'blocks/header.html' with title='Кому звонить' %}
<h1>Как оповестить сразу всех</h1>
<table class='table compact'>
    <tr>
        <td>4sup@agava.com</td>
        <td>менеджеры и техи вирта</td>
    </tr>
    <tr>
        <td>col_manager@agava.com</td>
        <td>менеджеры коло</td>
    </tr>
    <tr>
        <td>col_dc@agava.com</td>
        <td>сотрудники датацентров</td>
    </tr>
    <tr><td colspan=2>&nbsp;</td></tr>
    <tr>
        <td>adminu@agava.com</td>
        <td>админы Unix</td>
    </tr>
    <tr>
        <td>adminw@agava.com</td>
        <td>админы Windows</td>
    </tr>
    <tr>
        <td>col_admin@agava.com</td>
        <td>админы отдела Dedicated & Colocation</td>
    </tr>
    <tr>
        <td>noc@agava.com</td>
        <td>сетевой отдел</td>
    </tr>
</table>

Для отправки заявок администраторам следует использовать ящик adm@agava.com (очередь РТ).<br/>
Для отправки заявок саппортам (уведомить клиента и т.п.) - admin-info@agava.com

<h1>Ответственные по проектам</h1>

{% for whois, data in duties.items %}
    {% include 'blocks/incident_assign.html' with schedule=data %}
{% endfor%}
